@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: grid;
    grid-template-areas: 
    'navegacao'
    'conteudo'
    'rodape';
    grid-template-rows: auto 1fr auto;
    background-color: #ebebeb;
    height: 100vh;
    width: 100vw;
    font-family: montserrat;
    overflow-x: hidden;
}
.conteudo-pagina {
    grid-area: conteudo;
}
.rodape {
    background-image: linear-gradient(to left, #9b7b31, #c49d43);
}

nav {
    display: flex;
    font-size: 100%;
    width: 100vw;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

.navegacao a,
footer a{
    font-family:"Quicksand" ;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.navegacao a:hover,
footer a:hover {
    opacity: 0.5;
}

nav>ul,
.rodape-conteudo ul {
    list-style-type: none;
}

nav>ul {
    display: inline-flex;
    justify-content: end;
    align-items: center;
    gap: 16%;
    width: auto;
    margin-right: 2%;
    margin-left: 2%;
    height: 100%;
}

nav img {
    height: 2.5em;
}

footer {
    grid-area: rodape;
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-grow: 1;
}

footer h2 {
    font-size: 3vw;
}

footer ul {
    font-size: 1vw;
}

.rodape {
    height: 5em;
    flex-grow: 1;
}

.rodape-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 5vw;
    text-align: start;
    margin: 5%;
    flex-grow: 2;
}

.home-button {
    width: 2.5em;
    transition: transform 0.3s ease;
}

.home-button:hover {
    opacity: 0.8;
    transform:scale(110%);
}
nav {
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 2%;
}

.navegacao {
    grid-area: navegacao;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/bgs/risoles-bg.avif);
    border-bottom: 1px solid #FFF;
    padding: 12px;
    width: 100%;
    height: 100%;
}

.rodape-secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.rodape-items {
    font-size: 1vw;
}

.links-rodape:link {
    color: #000;
}

.links-rodape {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    transition: transform 0.3s ease;
    width: 4vh;
    margin: 3% 0 5% 0;
}

.links-rodape>img {
    width: 2vw;
}

.links-rodape:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.linkhome {
    display: flex;
    align-items: center;
    justify-content: start;
}

.pagina-sobre-contatos {
    background-image: url(../imgs/bgs/burger-bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #FFF;
}

.sobrenos-contatos {
    color: #FFF;
    margin: 2%;
    font-size: 5vw;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 1vw;
}

.texto-sobre {
    font-size: 1.2vw;
    margin-left: 5vw;
    margin-right: 50vw;
    margin-bottom: 2vw;
    align-items: start;
    justify-content: start;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.678);
}

dialog {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    background-color: rgb(255, 255, 255);
    width: 30%;
}

dialog h2,
dialog p {
    color: #494949;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

dialog h2 {
    font-size: 1.3vw;
}

dialog p {
    font-weight: 60;
    font-size: 1vw;
}

dialog >.popups-imagens {
    display: flex;
    justify-content: center;
    img {
        width: 50%;
    }
}

.outer-botao-fechar {
    position: absolute;
    margin-top: 4%;
    top:0;
    right: 0;
    width: 20%;
    cursor: pointer;
}

.inner-botao-fechar {
    width: inherit;
    text-align: center;
}
.inner-botao-fechar label {
    font-size: .8em;
    line-height: 4em;
    text-transform: uppercase;
    color: #000000;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
}

.inner-botao-fechar:before,
.inner-botao-fechar:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: #000000;
    left: 0;
    transition: all .3s ease-in;
}

.inner-botao-fechar:before {
    top: 50%;
    transform: rotate(45deg);
}

.inner-botao-fechar:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.outer-botao-fechar:hover label {
    opacity: 1;
}

.outer-botao-fechar:hover .inner-botao-fechar:before,
.outer-botao-fechar:hover .inner-botao-fechar:after {
    transform: rotate(0);
}

.outer-botao-fechar:hover .inner-botao-fechar:before {
    top: 0;
}

.outer-botao-fechar:hover .inner-botao-fechar:after {
    bottom: 0;
}

@media (max-width: 1200px) {
    .rodape-conteudo {
        flex-direction: column;
    }
    .texto-sobre-contatos {
        font-size: 2.3vw;
    }
    dialog h2 {
        font-size: 1.8vw;
    }
    dialog {
        width: 80%;
        height: 50%;
    }
    dialog p {
        font-size: 1.5vw;
    }
    .rodape-items {
        font-size: 1.3vw;
    }
}
@media (max-width: 1185px) {
    dialog h2 {
        font-size: 2vw;
    }
    dialog {
        width: 80%;
        height:60%;
    }
    dialog p {
        font-size: 1.9vw;
        margin-top: 10px;
        text-align: justify;
    }
    dialog >.popups-imagens {
        img {
            width: 30%
        }
    }
}
@media (max-width: 600px) {
    .rodape-items {
        font-size: 1.7vw;
    }
}
@media (max-width: 575px) {
    .txt__responsive {
        background-color: transparent;
        font-size: 23px;
        text-align: center;
    }
}
